# List of Python packages used in my daily research
black==20.8b1
blackdoc==0.3.1
codespell==2.0.0
docformatter=1.4
flake8==3.8.4
ipython==7.19.0
isort==5.7.0
jupyterlab==3.0.0
matplotlib==3.3.3
netcdf4==1.5.5.1
numpy==1.19.4
obspy==1.2.2
pylint==2.6.0
pytest-cov==2.10.1
pytest-mpl==0.12
pytest==6.2.1
pyyaml==5.3.1
scikit-learn==0.24.0
scipy==1.6.0
sphinx==3.4.2
sphinx_rtd_theme==0.5.1
toml==0.10.2
xarray==0.16.2
